/*@media print {BODY>* {display: none; } DIV.printBlock { display: block !important; }}*/
BODY {min-width: 320px;}
#logo img { width: 120px;}
.header1 {display: block}
.phoneheader { font-size: 90%; padding-top: 10px !important; padding-right: 0 !important;}
span.phone { display: block;  text-align: right; font-weight: bold}
span.address { display: block;  text-align: right;}
/*.moduletable_LoginForm .form {font-size: 80%;  text-align: right;}*/
#header{ z-index: 1000;    position: relative;}
.phoneheader {     text-shadow: 0 0 5px white;    margin-top: -2px !important;}
.navbar-brand img { width: 75px;  margin: -20px 0;}
.bottom-menu li { list-style: none;  margin-left: 30px;  margin-top: -10px;}
#foot {   bottom: 0;   width: 100%; }
#content {min-height: 500px;}
.footerText { float: right;   margin-top: -10px;}

.main { width: 90%;  margin: 0 auto;  }
.clear {clear: both}
.typeahead { z-index: 1051; }

DIV.add_buttons {position: absolute; z-index: 100; left: 0;  top: 0;}

TABLE.dataTable thead > tr > th {padding: 0 4px 0 1px !important}

.bottom-menu a.btn.btn-default.btn-xs { padding: 1px 9px;}

#back-top a span {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/images/icon_24.png) -18px 1px no-repeat;
    margin: 0 auto;
}
#back-top a {
     display: block;
     width: 50px;
     height: 50px;
     background: #fff;
     opacity: 0.5;
     border-radius: 10px;
     padding: 15px;
 }
#back-top a:hover {
    opacity: 0.8;
}
#back-top {
    /* display: none; */
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
}
input.input-sm { text-align: center;}

TR.group TD.order-group { background: #bce8f1 !important; }
TD.order-group .btn-group { float: right; }
TD.order-group .alert { margin: 0; }

/*TABLE.orders-data-table .btn-group {display: none;}*/
/*TABLE.orders-data-table tr:hover .btn-group {display: block;}*/

/*TABLE .chg-status {display: none;}*/
/*TABLE tr:hover .chg-status {display: block;}*/

TABLE.new-logist-data-table td, TABLE.new-logist-data-table th { font-size: 80%; }
TABLE.new-logist-data-table td { padding: 0 1px !important;}

.largeWidth > div {    margin: 0 auto;    width: 90%;}

tfoot {   display: table-header-group; }

ul.typeahead.dropdown-menu { max-height: 200px;  overflow-y: auto;}

FORM.order_edit .input-group { border: 2px solid #46b8da; border-radius: 5px; margin-bottom: 5px;}
/* Уменьшаем календарь и выбор времени */
.timepicker-picker TABLE td span,.timepicker-picker TABLE td {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto !important;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 0 !important;
}
/* Загрузка карты...*/
div#map.loading:before {
    background: #fff;
    width: 100%;  height: 100%;
    text-align: center;
    display: block;
    position: absolute;
    content: "Загрузка карты...";
    top: 0; left: 0;
    opacity: .8;
    z-index: 1;
    padding: 50% 0;
}

input.order-route-data, select.order-route-data {
    width: 100%;
    height: 32px;
    padding: 10px 5px 2px 5px;
    border: 0;
}
input.order-route-data.number {
    text-align: center;
}
span.order-add-title {
    position: absolute;
    left: 2px;
    top: 0;
    font-weight: bold;
    font-size: 10px;
}

.input-group .form-control {
    position: relative;
    padding: 0;
    z-index: auto !important;
}
/*
.input-group .form-control > div{
    z-index: 10 !important;
}
*/
div.map-form {
    padding: 0 15px 0 0;
}
div.map-container {
    border: 2px solid #46b8da;
    border-radius: 5px;
}
.map-info {
    display: block;
    position: absolute;
    left: 2px;
    top: 90px;
    background: #fff;
    padding: 10px;
    text-align: left;
    color: #000;
    z-index: 1;
}
.map-full-info {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #ffffff;
    padding: 10px;
    left: 0;
    font-size: 11px;
    width: 200%;
}
/*
.map-info:hover .map-full-info{
    display: block;
}
*/
.panel {
    border-width: 2px !important;
}
select.store_address option[value="0"] { /* value not val */
    color: darkblue !important;
}
input:invalid {
    background-color: #ffeded;
}