.headerWrap, .submit_r, .submit_rn, .oper {   display: none; }
.contentPad {overflow: visible;}
* {overflow: visible;}
BODY { font-family: Verdana;}
p, ul, ul li, h1, h2, h3, h4, form { margin: 0;  padding: 0; }
PRE{font-family: Verdana;margin: 0; }

.block {border: 0px solid #000000;}
table {border-left: 1px solid #000000;  padding-right: 20px;}
BODY TABLE TR TD { padding: 0 20px; overflow: visible;}
BODY TABLE TR TH { padding: 0 20px; overflow: visible;}
BODY TABLE TR TD { border: 0px none;  }
BODY TABLE TR TD { background-color: #FFFFFF; color: #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000;  }
BODY TABLE TR TH { font-weight: bold; background-color: #DDDDDD; color: #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center; }
table.wReportTable tr.wReportSubdivisionItem td { border-top: 0px solid #000000;  }
table.wReportTable tr.topHT TH { border-top: 1px solid #000000; text-align: center;  }
table.wReportTable tr TD.system_name { border-left: 1px solid #000000; text-align: center;  }
table.wReportTable tr th {  background-color: #DDDDDD; color: #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center; }